:root {
  --link-color: #757575;
  --text-font-family: "Roboto", "sans-serif";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--text-font-family);
}
.header-logo {
  color: #000000;
  font-size: 26px;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header-half-logo {
  color: #2196f3;
}
.header-link {
  color: #212121;
  font-size: 14px;
  font-family: var(--text-font-family);
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-contact {
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--text-font-family);
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-contact:hover,
.header-contact:focus {
  color: #2196f3;
}
ul {
  list-style-type: none;
}

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-family: var(--text-font-family);
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  font-weight: 700;
  line-height: 1, 8;
  letter-spacing: 0.96px;
  background: #2196f3;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #006994;
}
.main-services {
  color: #212121;
  font-size: 14px;
  font-family: var(--text-font-family);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.service-description {
  color: var(--link-color);
  font-size: 14px;
  font-family: var(--text-font-family);
  line-height: 1, 7;
  letter-spacing: 0.42px;
}
.team-names {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-ocupation {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  letter-spacing: 0.48px;
}
.footer-section {
  background: #2f303a;
}
.footer-logo {
  color: #ffffff;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer-half-logo {
  color: #2196f3;
}
.footer-address {
  color: #fff;
  font-size: 14px;
  font-family: var(--text-font-family);
  letter-spacing: 0.42px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: var(--text-font-family);
  letter-spacing: 0.42px;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: #2196f3;
}
.portofolio-button {
  border-radius: 4px;
  background: #f5f4fa;
  text-align: center;
  font-size: 16px;
  font-family: var(--text-font-family);
  font-weight: 500;
  letter-spacing: 0.48px;
  cursor: pointer;
  color: #212121;
}
.portofolio-button:hover,
.portofolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portofolio-tittle {
  color: #212121;
  font-size: 18px;
  font-family: var(--text-font-family);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.portofolio-description {
  color: #757575;
  font-size: 16px;
  font-family: var(--text-font-family);
  line-height: 1, 8;
  letter-spacing: 0.48px;
}
